body {
    background-image: url("https://github99-learn/Special-Message/bg.jpg");
    font-family: 'Signika Negative', sans-serif;
    text-align: center;

}

.open {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
    transition: 0.5s all ease;
}

.open h2 {
    margin-bottom: 20px;
    color: rgb(56, 56, 56);
    text-align: center;
    max-width: 600px;
}

.open .card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.123);
    text-align: center;
}
    
.open .card h3 {
    margin-top: 20px;
}

.open .card img {
    height: 100px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;  /* This is for 16:9 aspect ratio. Adjust as needed for your video. */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
